*
{
    margin: 0;
    padding: 0;

}
.main
{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar
{
    width:1200px;
    height: 75px;
    margin: auto;
}
.icon
{
    width: 200px;
    float: left;
    height: 70px;
}
.logo
{
    color: rgb(43, 26, 2);
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu
{
    width: 600px;
    float: left;
    height: 70px;

}
ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li
{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a
{
    text-decoration: none;
   color: white;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;

}
ul li a:hover
{
    color: rgba(0, 100, 194, 0.836);
}

.search
{
    width: 350px;
    float: left;
}
.srch 
{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent;
    border: 1px solid orange;
    
    color: white; 
    border-right: none;
    font-size: 17px;
    float: left;
    
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    


}
.btn
{   
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid;
    
    color: white;
    font-size: 17px;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
   

}
.btn:focus
{
    outline: none;

}

.srch:focus
{
    outline: none;
}


.content
{
    width: 1300px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .parg
{   padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;

    
}
